$white:#fff;
$black:#000;
$color_green: rgba(53, 219, 148, 255);
$color_lightgreen: rgba(122, 246, 197, 255);
$color_brightblue: rgba(117, 251, 242, 255);
$color_pink: rgba(228, 58, 247, 255);
$color_red: rgba(235, 83, 165, 255);
$color_redlight: rgba(252, 141, 205, 255);
$freepixel:freepixel;
$pixellife:pixellife;
$retrocomputer:retrcomputer;
$araplix:araplix;
$small-device:500px;
$xxs:320px;
$xls:600px;
$xlsh:500px;
$xms:375px;
$md:780px;
$lg:1024px;
$xlg:1440px;
$xxlg:5000px;
$headervh:100vh;
$header-padding:10vw;
$divider:(4/3);
$xd-width:1920;
$xd-height:1080;
$width-of-container:(85px/$divider);
$menu-height:54px;

