.toyBox {
    border: 1px double white;
    max-width: 210px;
    min-height: 300px;
    display: grid;
    grid-template-rows: 30px 200px 70px;
    justify-items: center;
    align-items: center;
    margin: 10px;
    // flex: 1;
}

.image {
    width: 150px;
    height: 150px;
}

.image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.info {
    text-align: start;
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    row-gap: 1em;
}

.info .name {
    font-size: large;
    text-transform: capitalize;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.head img {
    width: 100%;
    object-fit: contain;
    margin: 10px;
}
