@import "../../../../../components/sass/variables.scss";
.toyBox {
    max-width: 250px;
    min-height: 300px;
    display: grid;
    grid-template-rows: 30px 200px 70px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid #fff;
    height: auto;

}

.image{
    height:200px;
    width: 100%;
    display: grid;
    place-items: center;
    img {
        width: 70%;
        height: auto;
        align-self: center;
    }
}

.info {
    text-align: start;
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;
     .name {
         font-size: large;
         text-transform: capitalize;
         font-family: $freepixel;
         font-weight: normal;
         font-size: 24px;
         letter-spacing: -0.02em;
         text-align: left;
         color: #fff;
         line-height: 1;

     }
    .time{
        font-family: $freepixel;
        font-weight: normal;
        font-size: 14.86px;
        letter-spacing: -0.02em;
        line-height: 37.96px;
        text-align: left;
        color: #fff;
    }
}


.head {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.head img {
    width: 100%;
    object-fit: contain;
    margin: 10px;
    margin-bottom: 30px;
}
