@import '../sass/variables.scss';

.pop-up-message {
    position: relative;

    &:hover .pop-up-message__box {
        display: block;
    }
}

.pop-up-message__box {
    padding: 0.5rem;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(27, 27, 27, 0.900);
    animation: slideUp 1 400ms both;
    border: 2px solid $color-red;
    z-index: 50;
    font-family: 'FreePixel', sans-serif;
    font-size: 1.2rem;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translate(0, -90%);
    }
    to {
        opacity: 1;
        transform: translate(0, -110%);
    }
}