@font-face {
    font-family: 'FreePixel';
    src: url('../../components/fonts/FreePixel.ttf') format('opentype');
}

.filePortrait1 {
    width: 10em;
    height: 7em;
    cursor: pointer;
    position: relative;

    @media screen and (max-width: 1440px) {
        width: 8em;
        height: 5em;
    }

    background: url(../../assets/folder.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    .fileImg {
        width: 50%;
        height: 50%;
        object-fit: contain;
        margin-top: 30px;
        @media screen and (max-width: 1440px) {
            margin-top: 20px;

         }
    }

    .fileTexts {
        display: flex;
        justify-content: space-between;
        margin-left: 15px;
        width: 80%;

        .fileText {
            font-family: 'FreePixel', sans-serif;
            font-size: 0.7em;
            text-align: left;
            max-width: fit-content;
            font-weight: normal;
            color: #000;
        }
    }
}
