@font-face {
    font-family: 'FreePixel';
    src: url('../../../../assets/fonts/FreePixel.ttf') format('opentype');
}

.card-wrapper {
    position: relative;
    height: 80vh;
    width: 40vw;
    // border: 2px solid yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: url(https://res.cloudinary.com/groovin/image/upload/v1637860890/Toyo/haruko-page/stats-board_y5nwit.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    // & > img {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     border: 2px solid magenta;
    // }

    // .top-card {
    //     padding: 1em;
    //     height: 590px;
    //     width: 490px;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     background: #ff009b;
    //     z-index: 1;
    //     background: url(https://res.cloudinary.com/groovin/image/upload/v1637758826/Toyo/text-card_jaqdv2.png);

    //     & > .top-panel {
    //         background: url(https://res.cloudinary.com/groovin/image/upload/v1637685686/Toyo/top-panel_oyxcmc.png);

    //         width: 100%;
    //         height: 20px;
    //     }

    & > .text-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 2;
        & > header {
            font-family: 'FreePixel', sans-serif;
            font-weight: normal;
            font-size: 1.05em;
            padding-left: 1em;
            letter-spacing: -0.02em;
            margin-bottom: 1.5em;
        }

        & > p {
            font-family: 'FreePixel', sans-serif;
            font-size: 0.8em;
            padding-left: 2em;
            text-align: left;
            max-width: fit-content;

            font-weight: normal;
            line-height: 1.5em;
            color: #fff;
        }

        & > .open-btn {
            align-self: flex-start;
            margin-left: 0.8em;
            z-index: 2;
            position: relative;
            height: 4em;
        }
    }
    // }

    // .back-card {
    //     height: 590px;
    //     width: 490px;
    //     position: absolute;
    //     bottom: 0;
    //     right: 0;
    //     background: #ff009b;
    // }
}
