@font-face {
    font-family: 'FreePixel';
    src: url('../../../assets/fonts/FreePixel.ttf') format('opentype');
}

@font-face {
    font-family: 'Retro Computer';
    src: url('../../../assets/fonts/retro_computer_personal_use.ttf')
        format('truetype');
}

.stats-header {
    // align-self: flex-start;

    display: flex;
    align-items: center;
    column-gap: 0.7em;
    width: 100%;

    & > .char-icon {
        & > img {
            width: 3.5em;
        }
    }

    & > .char-name {
        font-family: 'FreePixel', sans-serif;
        font-weight: bold;
        letter-spacing: 0.02em;
        color: #fff;
        font-size: 3em;
        text-transform: uppercase;
    }
}

.val {
    font-family: 'Retro Computer';
    font-weight: normal;
    letter-spacing: 0.02em;
    color: #fff;
    font-size: 0.7em;
    text-transform: uppercase;
}

.stats-metadata {
    // margin-left: 6em;
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .prop {
        font-family: 'FreePixel';
        font-weight: normal;
        letter-spacing: 0.02em;
        color: #fc0097;
        font-size: 0.7em;
        text-transform: capitalize;
    }
}

.stats-desc-header {
    // margin-left: 6em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    .stats-double-lines {
        display: block;
        width: 5em;
        margin-right: auto;
        flex-basis: 55%;
    }

    .heart-icon {
        display: block;
        width: 1em;
        margin-left: 0.6em;
    }
}

.stats-desc {
    // margin-left: 6em;
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 98%;
    text-align: left;
    font-family: 'FreePixel', sans-serif;
    // border: 2px solid yellow;
}

.best-stats {
    // margin-left: 6em;
    margin-top: 1.5em;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 1280px) {
        display: none;
    }

    @media screen and (min-width: 1920px) {
        display: flex;
    }
}

.stats-type1-wrapper {
    // margin-left: 6em;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media screen and (min-width: 1280px) {
        display: none;
    }

    @media screen and (min-width: 1680px) {
        display: flex;
    }

    .stats-type1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        // define the circle
        .circle {
            width: 5em;
            height: 5em;
            background: url(https://res.cloudinary.com/groovin/image/upload/v1637917054/Toyo/haruko-page/stat-circle-wrapper_qqxzmc.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            //center the circle value
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Retro Computer', sans-serif;
        }
    }

    .stats-type-desc {
        margin-top: 0.7em;
        & > div {
            width: 7.2em;
        }

        font-family: 'FreePixel', sans-serif;
        font-weight: normal;
        letter-spacing: 0.02em;
        color: #ffffff;
        font-size: 0.7em;
        text-transform: capitalize;
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

.stats-type2-wrapper {
    // margin-left: 6em;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .column-wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .stat-perc {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .stat-perc-prop {
                font-family: 'FreePixel', sans-serif;
                font-weight: normal;
                letter-spacing: 0.02em;
                color: #ffffff;
                font-size: 0.85em;
                text-transform: capitalize;
                text-align: left;
                flex-basis: 35%;
            }

            .stat-progress-bar {
                background: url(https://res.cloudinary.com/groovin/image/upload/v1637926026/Toyo/haruko-page/stat-progr-bar_bjmrsg.png);
                background-size: cover;
                background-position: left;
                background-repeat: no-repeat;
                flex-basis: 45%;
                height: 2em;
            }

            .perc {
                flex-basis: 25%;
                font-family: 'FreePixel', sans-serif;
                font-weight: normal;
                letter-spacing: 0.02em;
                color: #ffffff;
                font-size: 0.85em;
            }
        }
    }
}

.partStats {
    background: url(../../../../assets/partStats.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    width: 100%;
    height: 100%;

    flex-direction: column;

    font-family: 'FreePixel', sans-serif;
    font-weight: normal;
    letter-spacing: 0.02em;
    color: #ffffff;
    font-size: 1em;
    white-space: nowrap;

    .line {
        width: 100%;
        display: flex;
        justify-content: center;

        #head {
            margin: 5px 0 0 220px;

            @media screen and (max-width: 1920px) {
                margin: -5px 0 0 220px;
            }
            @media screen and (max-width: 1600px) {
                margin: -7px 0 0 190px;
            }
            @media screen and (max-width: 1536px) {
                margin: -9px 0 0 190px;
            }
            @media screen and (max-width: 1440px) {
                margin: 4px 0 0 190px;
            }
            @media screen and (max-width: 1366px) {
                margin: -9px 0 0 180px;
            }
            @media screen and (max-width: 1280px) {
                margin: -9px 0 0 170px;
            }
        }
        #lArm {
            margin: 65px 100px 0 0;

            @media screen and (max-width: 1920px) {
                margin: 60px 100px 0 0;
            }
            @media screen and (max-width: 1600px) {
                margin: 50px 80px 0 0;
            }
            @media screen and (max-width: 1536px) {
                margin: 42px 80px 0 0;
            }
            @media screen and (max-width: 1440px) {
                margin: 40px 80px 0 0;
            }
            @media screen and (max-width: 1366px) {
                margin: 30px 70px 0 0;
            }
            @media screen and (max-width: 1280px) {
                margin: 25px 70px 0 0;
            }
        }
        #rArm {
            margin: 60px 0 0 100px;

            @media screen and (max-width: 1920px) {
                margin: 50px 0 0 100px;
            }
            @media screen and (max-width: 1600px) {
                margin: 45px 0 0 80px;
            }
            @media screen and (max-width: 1536px) {
                margin: 40px 0 0 70px;
            }
            @media screen and (max-width: 1440px) {
                margin: 35px 0 0 70px;
            }
            @media screen and (max-width: 1366px) {
                margin: 30px 0 0 50px;
            }
            @media screen and (max-width: 1280px) {
                margin: 20px 0 0 40px;
            }
        }
        #lHand {
            margin: 55px 120px 0 0;

            @media screen and (max-width: 1920px) {
                margin: 55px 120px 0 0;
            }
            @media screen and (max-width: 1600px) {
                margin: 40px 95px 0 0;
            }
            @media screen and (max-width: 1536px) {
                margin: 40px 90px 0 0;
            }
            @media screen and (max-width: 1440px) {
                margin: 35px 85px 0 0;
            }
            @media screen and (max-width: 1366px) {
                margin: 30px 75px 0 0;
            }
            @media screen and (max-width: 1280px) {
                margin: 20px 65px 0 0;
            }
        }
        #rHand {
            margin: 55px 0 0 120px;

            @media screen and (max-width: 1920px) {
                margin: 55px 0 0 120px;
            }
            @media screen and (max-width: 1600px) {
                margin: 40px 0 0 95px;
            }
            @media screen and (max-width: 1536px) {
                margin: 40px 0 0 90px;
            }
            @media screen and (max-width: 1440px) {
                margin: 35px 0 0 85px;
            }
            @media screen and (max-width: 1366px) {
                margin: 30px 0 0 75px;
            }
            @media screen and (max-width: 1280px) {
                margin: 20px 0 0 65px;
            }
        }
        #lLeg {
            margin: 100px 80px 0 0;

            @media screen and (max-width: 1920px) {
                margin: 95px 80px 0 0;
            }
            @media screen and (max-width: 1600px) {
                margin: 75px 70px 0 0;
            }
            @media screen and (max-width: 1536px) {
                margin: 70px 60px 0 0;
            }
            @media screen and (max-width: 1440px) {
                margin: 65px 60px 0 0;
            }
            @media screen and (max-width: 1366px) {
                margin: 50px 50px 0 0;
            }
            @media screen and (max-width: 1280px) {
                margin: 45px 45px 0 0;
            }
        }
        #rLeg {
            margin: 100px 0 0 80px;

            @media screen and (max-width: 1920px) {
                margin: 100px 0 0 80px;
            }
            @media screen and (max-width: 1600px) {
                margin: 75px 0 0 70px;
            }
            @media screen and (max-width: 1536px) {
                margin: 70px 0 0 60px;
            }
            @media screen and (max-width: 1440px) {
                margin: 65px 0 0 60px;
            }
            @media screen and (max-width: 1366px) {
                margin: 50px 0 0 50px;
            }
            @media screen and (max-width: 1280px) {
                margin: 45px 0 0 45px;
            }
        }
        #lFoot {
            margin: 35px 70px 0 0;

            @media screen and (max-width: 1920px) {
                margin: 25px 70px 0 0;
            }
            @media screen and (max-width: 1600px) {
                margin: 25px 60px 0 0;
            }
            @media screen and (max-width: 1536px) {
                margin: 18px 50px 0 0;
            }
            @media screen and (max-width: 1440px) {
                margin: 18px 50px 0 0;
            }
            @media screen and (max-width: 1366px) {
                margin: 15px 45px 0 0;
            }
            @media screen and (max-width: 1280px) {
                margin: 15px 45px 0 0;
            }
        }
        #rFoot {
            margin: 35px 0 0 70px;

            @media screen and (max-width: 1920px) {
                margin: 25px 0 0 70px;
            }
            @media screen and (max-width: 1600px) {
                margin: 25px 0 0 60px;
            }
            @media screen and (max-width: 1536px) {
                margin: 18px 0 0 50px;
            }
            @media screen and (max-width: 1440px) {
                margin: 18px 0 0 50px;
            }
            @media screen and (max-width: 1366px) {
                margin: 15px 0 0 45px;
            }
            @media screen and (max-width: 1280px) {
                margin: 15px 0 0 45px;
            }
        }
    }
}
