.container {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin: 0;
    background: url(../../assets/Layer5/Layer5@2x.png);
    background-color: rgba(0, 0, 0, 0.979);
    min-height: 100vh;
    background-size: cover;
    grid-gap: 20px;
}

.sidebar {
    max-width: 100px;
}

.stripes-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(https://res.cloudinary.com/groovin/image/upload/v1637788867/Toyo/stripes_sitdaw.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    opacity: 0.3;
}
