@font-face {
    font-family: 'FreePixel';
    src: url('../../../assets/fonts/FreePixel.ttf') format('opentype');
}


@keyframes blinkBox {
    0% { opacity: 1; }
    25% { opacity: 0.5; }
    50% { opacity: 0; }
    75% { opacity: 0.5; }
    100% {  opacity: 1; }
}

.blink {
    animation-name: blinkBox;
    animation-duration: 0.4s;
}

.unity-canvas {
    position: absolute;
    z-index: 20;
    width: 99%;
    height: 98%;
    top: 1%;
    left: 0.5%;
}

.loading-overlay {
    position: absolute;
    width: 99%;
    height: 98%;
    top: 1%;
    left: 0.5%;
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 10, 10);
    justify-content: center;
    align-items: center;
    z-index: 21;
    font-family: 'FreePixel', sans-serif;
    font-size: 1.25em;
    //color: #e100b0;
    font-weight: bold;
  }

.ampulheta {
    height: 6vh;
    width: 3vw;
}

.stats-card-wrapper {
    position: relative;

    .top-card3 {
        /*  background: #ff0099; */
        background: #0004;
        border: solid 11px #ff0099;
        height: 100%;
        width: 98.5%;

        // height: 69vh;
        // width: 29.5vw;

        position: absolute;
        top: 0;
        left: 0;

        z-index: 1;

        display: flex;
        flex-direction: column;
        align-items: center;

        .menu-controls {
            position: absolute;
            top: -8px;
            width: 100%;
            resize: contain;
        }

        .card-content {
            height: 95%;
            width: 97%;
            background: #0004;

            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 3;

            padding: 1.5em;
        }
    }

    .back-card3 {
        background: #0004;
        border: solid 11px #ff0099;

        height: 98.5%;
        width: 98.5%;

        // height: 69vh;
        // width: 29.5vw;

        position: absolute;
        bottom: 0;
        right: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        .back-content {
            height: 98%;
            width: 98%;
            background: #0000;
        }
    }
}

.dock-text-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    z-index: 2;
    flex: 1;

    & > header {
        font-family: 'FreePixel', sans-serif;
        font-weight: normal;
        font-size: 1.9em;
        padding-left: 0.5em;
        letter-spacing: 0.02em;
        margin-bottom: 0.7em;
        padding-top: 0.2em;
    }

    & > p {
        font-family: 'FreePixel', sans-serif;
        font-size: 1em;

        text-align: left;
        max-width: fit-content;

        padding-top: 0.8em;
        font-weight: normal;
        line-height: 1.2em;
        color: #fff;
    }
}
.btnContainer {
    flex: 0.8;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    
}
.open-btn:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
    transition: 0.3s;
}

.open-btn {
    z-index: 1;
    height: 8em;
    cursor: pointer;
}

.stats-metadataDock {
    display: flex;
    align-items: center;
    width: 100%;

    .rarity{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .level{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .prop {
        font-family: 'FreePixel';
        font-weight: normal;
        letter-spacing: 0.02em;
        color: #fc0097;
        font-size: 2em;
        text-transform: capitalize;
    }

    .val {
        font-family: 'Retro Computer';
        font-weight: normal;
        letter-spacing: 0.02em;
        color: #fff;
        font-size: 1.5em;
        text-transform: uppercase;

        @media screen and (max-width: 1800px) {
            font-size: 1.3em;
        }
    }
}

.stats-headerDock {
    display: flex;
    justify-content: space-between;
    column-gap: 0.7em;
    width: 100%;

    & > .char-name {
        font-family: 'FreePixel', sans-serif;
        font-weight: bold;
        letter-spacing: 0.02em;
        color: #fff;
        font-size: 3em;
        text-transform: uppercase;

        @media screen and (max-width: 1366px) {
            font-size: 2em;
        }
    }

    & > .char-id {
        font-family: 'FreePixel', sans-serif;
        font-weight: bold;
        letter-spacing: 0.02em;
        color: #fff;
        font-size: 1em;
    }
}