.main-wrapper {
    background: url(https://res.cloudinary.com/groovin/image/upload/v1637680381/Toyo/pink-smoke_hqbxzm.png)
        no-repeat center center fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card-wrapper {
    position: relative;
    height: 600px;
    width: 500px;

    .top-card {
        height: 590px;
        width: 490px;
        position: absolute;
        top: 0;
        left: 0;
        background: #ff009b;
        z-index: 1;

        & > .top-panel {
            background: url(https://res.cloudinary.com/groovin/image/upload/v1637685686/Toyo/top-panel_oyxcmc.png)
                no-repeat center center fixed;
            width: 100%;
            height: 20px;
        }

        & > .text-section {
            & > header {
            }

            & > .open-btn {
                position: relative;

                & > span {
                    position: absolute;
                    top: 48%;
                    left: 48%;
                    color: #ff009b;
                }
            }
        }
    }

    .back-card {
        height: 590px;
        width: 490px;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #ff009b;
    }
}
