* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Arapix';
    src: url('../assets/fonts/29LT\ Arapix-Regular.OTF') format('opentype');
}

.main-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.774);
    background: url('./../../assets/fundo/background.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

    align-items: flex-start;
    justify-content: space-between;

    color: white;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .main-content-wrapper {
        display: flex;
        flex: 1;
        position: absolute;
        flex-direction: column;

        justify-content: flex-end;
        align-items: center;

        width: 100vw;
        height: 100vh;

        .item-showcase {
            height: 55vh;
            display: flex;
            align-items: center;
            margin-bottom: 5vh;
            justify-content: space-between;

            .text-card {
                //mix-blend-mode: screen;
            }

            & > div > .main-img-showcase {
                width: 300px / 1366px * 100vw;
                height: 55vh;
                margin-right: 7em;
                margin-left: -4em;
            }
        }
    }
}

