@font-face {
    font-family: freepixel;
    src: url("./FreePixel.ttf");
}
@font-face {
    font-family: pixellife;
    src: url("./Pixel-Life.ttf");
}
@font-face {
    font-family: retrcomputer;
    src: url("./retro_computer_personal_use.ttf");
}
@font-face {
    font-family: araplix;
    src: url("./29LT\ Arapix-Regular.OTF");
}