.items-carousel {
    display: flex;
    column-gap: 20px;
    align-items: baseline;
    justify-content: space-between;

    & > div > img {
        width: 150px;
        height: 100px;
        cursor: pointer;
    }

    .selected-item {
        width: 165px;
        height: 115px;
    }

    .nav-icon {
        align-self: center;
    }
}
