.nav-box {
    max-width: 200px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    min-width: 100px;
}

.white-bg {
    background-color: white;
    color: black;
}

.red-bg {
    background-color: rgb(255, 82, 111);
}
.no-bg {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.nav-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    align-items: center;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-ends;
}

li {
    margin-left: 5px;
}

.shrink img {
    width: 20px;
    margin-top: 10px;
}

.search-box .iconHolder {
    height: 100%;
}

.search-box input {
    background-color: transparent;
    border: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #f5f5f527;
}

::-webkit-scrollbar-thumb {
    background: pink;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
