.header {
    width: 94.8%;
}

.nav-box {
    width: 150px;
    display: block;
    height: 30px;
}

.nav-box-filter,
.nav-box-search {
    max-width: 210px;
    width: 210px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    min-width: 100px;
    margin-left: 1.3em;
}

.nav-box-filter {
    width: 150px;
    margin-left: 0.5em;
}

.white-bg {
    background-color: white;
    color: black;
}

// .red-bg {
//     background-color: rgb(255, 82, 111);
// }
.no-bg {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.nav-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    align-items: center;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-ends;
}

li {
    margin-left: 5px;
}

.shrink img {
    width: 20px;
    margin-top: 10px;
}

.search-box .iconHolder {
    height: 18px;
}

.search-box input {
    background-color: transparent;
    border: none;
}

::-webkit-scrollbar {
    border: 1px solid #ff00998e;
    width: 15px;
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation: fade_move_down 4s ease-in-out infinite;
    animation: fade_move_down 4s ease-in-out infinite;
}

// ::-webkit-scrollbar-button {
//     width: 24px;
//     height: 24px;
// }

::-webkit-sc ::-webkit-scrollbar-track {
    background: #f5f5f527;
}

::-webkit-scrollbar-thumb {
    background: #ff00998e;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-button {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-button::vertical:increment {
    background: url(https://res.cloudinary.com/groovin/image/upload/v1637847635/Toyo/arrow-up_zjzp1c.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

::-webkit-scrollbar-button:vertical:decrement {
    background: url(https://res.cloudinary.com/groovin/image/upload/v1637847635/Toyo/arrow-down_nwviwd.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
