* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Arapix';
    src: url('../assets/fonts/29LT\ Arapix-Regular.OTF') format('opentype');
}

.main-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(https://res.cloudinary.com/groovin/image/upload/v1637762659/Toyo/background22_wufrfr.png);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    color: white;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}
