.toys {
    width: 89.3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    margin-left: 10px;
    scrollbar-color: red yellow;
    height: 80vh;
    overflow: auto;
    &::-webkit-scrollbar {
        width: (20px);
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: rgba(255, 0, 153, 0);
        border: 2px solid #f09;
        opacity: 0.5;

    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgba($color: #f09, $alpha: .5);
        /* inner white */
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgba($color: #f09, $alpha: .5);
        
    }
}
