.stats-card-wrapper {
    position: relative;

    .top-card2 {
        /*  background: #ff0099; */
        background: #0004;
        border: solid 11px #ff0099;
        height: 100%;
        width: 98.5%;

        // height: 69vh;
        // width: 29.5vw;

        position: absolute;
        top: 0;
        left: 0;

        z-index: 1;

        display: flex;
        flex-direction: column;
        align-items: center;

        .menu-controls {
            position: absolute;
            top: -8px;
            width: 100%;
            resize: contain;
        }

        .card-content {
            height: 95%;
            width: 97%;
            background: #0004;

            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 1.5em;
        }
    }

    .back-card2 {
        background: #0004;
        border: solid 11px #ff0099;

        height: 98.5%;
        width: 98.5%;

        // height: 69vh;
        // width: 29.5vw;

        position: absolute;
        bottom: 0;
        right: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        .back-content {
            height: 98%;
            width: 98%;
            background: #0000;
        }
    }
}
